body {
    font-family: sans-serif;
    line-height: 150%;
}

h1 {
    line-height: 200%;
}

h2, h3, h4 {
    padding-bottom; 0.2em;
    border-bottom: 1px solid #e0e0e0;
}
pre {
    padding: 1em;
    border: 1px solid #e0e0e0;
    background-color: #edf0ef;
    line-height: 120%;
}

